$dark-violet: #4B3D79;
$violet: #8566BF;
$light-gray-1: #F5F5FD;
$light-gray-2: #EEE;
$light-gray: #B0B1B1;
$gray: #5C5C5C;
$white: #fff;
$pink: #F35366;

$primary-color: $pink;
$main-text-color: $gray;